.race-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.race-card {
    height: 30%;
    width: 450px;
    outline: solid;
    outline-width: 0.2rem;
    border-radius: 0.2rem;
    margin: 20px;
    justify-content: center;
}

.session-name {
    font-weight: bold;
}